#container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1 1 auto;
}
.square{
    background-color: lightblue;
}
.square.selected{
    background-color: blue;

}